name: Deployment workflow
on:
  pull_request:
    types: [closed]
    branches:
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  checkout-branch:
    runs-on: ubuntu-latest
    if: |
      github.event.pull_request.merged == true &&
      github.event.pull_request.base.ref == 'master' &&
      github.event.pull_request.head.ref == 'staging'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Your deployment/action steps
        run: |
          echo "Pull request from staging was merged into master!"

  build-image:
    name: Build an image
    runs-on: ubuntu-latest
    needs: checkout-branch
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Login to the Container Registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ secrets.GHCR_USER }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Prepare image name
      run: |
        echo "IMAGE_IN_LOWER=${IMAGE_NAME@L}" >> "${GITHUB_ENV}"

    - name: Build and push Docker image
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        push: true
        tags: |
          ${{ steps.meta.outputs.tags }}
          ${{ env.REGISTRY }}/${{ env.IMAGE_IN_LOWER }}:${{ github.sha }}
        labels: ${{ steps.meta.outputs.labels }}

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build-image
  #   env:
  #     SERVICE_FILE: "/etc/app/traffic-light-hackaton/.service"

  #   steps:
  #     - name: Prepare image name
  #       run: |
  #         echo "IMAGE_IN_LOWER=${IMAGE_NAME@L}" >> "${GITHUB_ENV}"

  #     - name: Deploy to Server via SSH
  #       uses: appleboy/ssh-action@v1.0.0
  #       with:
  #         host: ${{ secrets.SSH_HOST_PRODUCTION }}
  #         username: ${{ secrets.SSH_USER }}
  #         key: ${{ secrets.SSH_PRIVATE_KEY_PRODUCTION }}
  #         script: |

  #           echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io --username ${{ secrets.GHCR_USER }} --password-stdin

  #           sudo sed -i 's|'IMAGE_PATH=ghcr.io/${{ env.IMAGE_IN_LOWER }}:[a-zA-Z0-9_\\.\\-]*'|'IMAGE_PATH=ghcr.io/${{ env.IMAGE_IN_LOWER }}:${{ github.sha }}'|g' ${{ env.SERVICE_FILE }}
  #           docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_IN_LOWER }}:${{ github.sha }}
  #           sudo bash /opt/app/scripts/deployment.sh